$primary: rgb(72, 182, 255);
$secondery: rgb(185, 72, 255);
$light: rgb(250, 250, 250);
$dark:rgb(34, 34, 34);
$svg-light:rgb(255, 255, 255);
$svg-dark:rgb(0, 0, 0);
$border-light:rgb(250, 250, 250);
$border-dark:rgb(0, 0, 0);

$red: rgb(213, 0, 0);
$pink: rgb(197, 17, 98);
$purple: rgb(98, 0, 234);
$indigo: rgb(48, 79, 254);
$blue: rgb(41, 98, 255);
$teal: rgb(0, 77, 64);
$green: rgb(0, 200, 83);
$yellow: rgb(255, 214, 0);
$orange: rgb(255, 109, 0);
$brown: rgb(93, 64, 55);
$gray: rgb(97, 97, 97);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

