:root {
    -red: #D50000;
    -pink: #C51162;
    -purple: #6200EA;
    -indigo: #304FFE;
    -blue: #2962FF;
    -teal: #004D40;
    -green: #00C853;
    -yellow: #FFD600;
    -orange: #FF6D00;
    -brown: #5D4037;
    -gray: #616161;
    -white: #ffffff;
    -black: #000000
}