
/* Button */
.vra-button{
    border: 1px solid transparent;
    padding: 8px 20px;
    min-width: 90px;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px ;
    text-align: center;
}

.vra-button:hover,
.vra-button:focus,
.vra-button:visited{
    opacity: 0.7;
    /* border: 1px solid gray; */
}

.vra-button:disabled{
   cursor:no-drop;
}

/* Colors **********************************************************************/

.vra-button.red {background-color: #D50000; color: #ffffff}
.vra-button.pink {background-color: #C51162; color: #ffffff}
.vra-button.purple {background-color: #6200EA; color: #ffffff}
.vra-button.indigo {background-color: #304FFE; color: #ffffff}
.vra-button.blue {background-color: #2962FF; color: #ffffff}
.vra-button.teal {background-color: #004D40; color: #ffffff}
.vra-button.green {background-color: #00C853; color: #ffffff}
.vra-button.yellow {background-color: #FFD600; color: #ffffff}
.vra-button.orange {background-color: #FF6D00; color: #ffffff}
.vra-button.brown {background-color: #5D4037; color: #ffffff}
.vra-button.gray {background-color: #616161; color: #ffffff}
.vra-button.white {background-color: #ffffff; color: #000000}
.vra-button.black {background-color: #000000; color: #ffffff}

/* Outline  *********************************************************************/
.vra-button.outline.red {color: #D50000;border: 1px solid #D50000; background-color: transparent;}
.vra-button.outline.pink {color: #C51162;border: 1px solid #C51162; background-color: transparent;}
.vra-button.outline.purple {color: #6200EA;border: 1px solid #6200EA; background-color: transparent;}
.vra-button.outline.indigo {color: #304FFE;border: 1px solid #304FFE; background-color: transparent;}
.vra-button.outline.blue {color: #2962FF;border: 1px solid #2962FF; background-color: transparent;}
.vra-button.outline.teal {color: #004D40;border: 1px solid #004D40; background-color: transparent;}
.vra-button.outline.green {color: #00C853;border: 1px solid #00C853; background-color: transparent;}
.vra-button.outline.yellow {color: #FFD600;border: 1px solid #FFD600; background-color: transparent;}
.vra-button.outline.orange {color: #FF6D00;border: 1px solid #FF6D00; background-color: transparent;}
.vra-button.outline.brown {color: #5D4037;border: 1px solid #5D4037; background-color: transparent;}
.vra-button.outline.gray {color: #616161;border: 1px solid #616161; background-color: transparent;}
.vra-button.outline.white {color: #ffffff;border: 1px solid #ffffff; background-color: transparent;}
.vra-button.outline.black {color: #000000;border: 1px solid #000000; background-color: transparent;}

/* Link  *********************************************************************/
.vra-button.link.red {color: #D50000; background-color: transparent;}
.vra-button.link.pink {color: #C51162; background-color: transparent;}
.vra-button.link.purple {color: #6200EA; background-color: transparent;}
.vra-button.link.indigo {color: #304FFE; background-color: transparent;}
.vra-button.link.blue {color: #2962FF; background-color: transparent;}
.vra-button.link.teal {color: #004D40; background-color: transparent;}
.vra-button.link.green {color: #00C853; background-color: transparent;}
.vra-button.link.yellow {color: #FFD600; background-color: transparent;}
.vra-button.link.orange {color: #FF6D00; background-color: transparent;}
.vra-button.link.brown {color: #5D4037; background-color: transparent;}
.vra-button.link.gray {color: #616161; background-color: transparent;}
.vra-button.link.white {color: #ffffff; background-color: transparent;}
.vra-button.link.black {color: #000000; background-color: transparent;}

.vra-button.xxs{
    padding: 4px 10px;
    min-width: 50px;
    font-size: 10px;
}

.vra-button.xs{
    padding: 6px 15px;
    min-width: 70px;
    font-size: 12px;
}

.vra-button.x{
    padding: 8px 20px;
    min-width: 90px;
    font-size: 14px;
}
.vra-button.xl{
    padding: 10px 25px;
    min-width: 110px;
    font-size: 16px;
}

.vra-button.xxl{
    padding: 12px 30px;
    min-width: 130px;
    font-size: 18px;
}

.vra-button.xxxl{
    padding: 8px 20px;
    min-width: 150px;
    font-size: 20px;
}

.border-1{
   border-width:1px 
}
.border-2{
   border-width:2px 
}
.border-3{
   border-width:3px 
}
.border-4{
   border-width:4px 
}
.border-5{
   border-width:5px 
}